@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Error 403</h1>
            </div>
            <h2>Oops! This Page Could Not Be Accessed</h2>
            <p>Sorry you don't have the right permission to enter.<br>Please contact Admin!</p>
            <a href="~/Wound/TheWounds">Back to Homepage</a>
            <p></p>
            <a href="~/Account/LoginPage">Back to login page</a>
        </div>
    </div>
</body>
</html>


