@model WoundImgRepo.Models.User

<form asp-controller="Account"
      asp-action="forgetmetwo"
      method="post">

    <h2>Forget Password</h2>

    <div class="col-sm-5">

        <!--for seeing if user can answer question-->
        <div class="form-group row">

        </div>
        <div class="form-group row">

            
            <input asp-for="question" id="question" class="form-control" autocomplete="off" value="@TempData["question"]" hidden />
            <input asp-for="user_id" id="user_id" class="form-control" autocomplete="off" value="@TempData["IDcurrentuser"]" hidden />
          
            <p>@TempData["question"]</p>
            <input asp-for="answer" id="answer" class="form-control" placeholder="Enter Answer" autofocus="" autocomplete="off">
            <span asp-validation-for="answer" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group row">

        </div>
        @*print error message*@

        @if (ViewData["Msg"] != null)
        {
            <div class="form-group row">
                <div class="alert alert-@ViewData["MsgType"]">
                    <text>@ViewData["Msg"]</text>
                </div>
            </div>
        }

    </div>
    <input type="submit" class="btn btn-primary" value="Check" />
    <p></p>
    <a href="~/Account/LoginPage">Back to Login Page</a>
</form>
